/*Griffo v1.0 ~ HybDev*/

@import url("normalito.css");

.container{
	background: blue;
	margin: 0px auto;
	width: 90%;
	min-width: 320px;
	overflow: hidden;
}
/*==================TAMAÑOS=====================*/
.tam1, .tam2, .tam3, .tam4, .tam5, .tam6, .tam7, .tam8, .tam9, .tam10, .tam11, .tam12{
	background: gray;
	margin-left: 1%;
	float: left;
	word-wrap: break-word;
}

.tam1{
	width: 7.25%;
}
.tam2{
	width: 15.5%
}
.tam3{
	width: 23,75%
}
.tam4{
	width: 32%
}
.tam5{
	width: 40.25%
}
.tam6{
	width: 48.5%
}
.tam7{
	width: 56.75%
}
.tam8{
	width: 65%
}
.tam9{
	width: 73.25%
}
.tam10{
	width: 81.5%
}
.tam11{
	width: 89.75%
}
.tam12{
	width: 98%
}

/*==================POSICIONES===============*/