/*Griffo v1.0 ~ HybDev*/

@import url("normalito.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.container{ 
	background: #FAFAFA;
	margin: 0px auto;
	width: 90%;
	min-width: 240px;
	overflow: hidden;
}
/*==================TAMAÑOS=====================*/
.t01, .t02, .t03, .t04, .t05, .t06,
.t07, .t08, .t09, .t10, .t11, .t12{
	box-shadow: inset 0px 0px 5px 1px #F5F5F5;
	border: solid 1px #AAA;
	background: white;
	min-width: 240px;
	margin-left: 1%;
	margin-top: 1%;
	float: left;
	padding: 1%;
	word-wrap: break-word;
}

.t01{
	width: 7.25%;
	min-width: 64px;
}
.t02{
	width: 15.5%;
	min-width: 128px;	
}
.t03{
	width: 23.75%;
	min-width: 192px;
}
.t04{
	width: 32%;
}
.t05{
	width: 40.25%;
}
.t06{
	width: 48.5%;
}
.t07{
	width: 56.75%;
}
.t08{
	width: 65%;
}
.t09{
	width: 73.25%;
}
.t10{
	width: 81.5%;
}
.t11{
	width: 89.75%;
}
.t12{
	width: 98%;
}

/*==================POSICIONES===============*/